apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-service
  template:
    metadata:
      labels:
        app: data-service
    spec:
      containers:
      - name: data-service-container
        image: "docker.io/library/my_data_service_image:v1_01"
        ports:
        - containerPort: 5001

