apiVersion: apps/v1
kind: Deployment
metadata:
  name: server_deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server_container
        image: "docker.io/library/server_image:v1_01"
        ports:
        - containerPort: 5000

